data_factory_src/pipeline/LastMonthStocks.json
{
	"name": "LastMonthStocks",
	"properties": {
		"description": "Retrieve last month-2month intraday prices",
		"activities": [
			{
				"name": "RetrieveSymbols",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.00:10:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "List_Symbol_SP500",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEachSymbol",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "RetrieveSymbols",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('RetrieveSymbols').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "CopyLastMonthToSql",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"additionalColumns": [
										{
											"name": "SymbolC",
											"value": {
												"value": "@item().Symbol",
												"type": "Expression"
											}
										},
										{
											"name": "IntervalC",
											"value": {
												"value": "@variables('IntervalV')",
												"type": "Expression"
											}
										}
									],
									"storeSettings": {
										"type": "HttpReadSettings",
										"requestMethod": "GET"
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"enableSkipIncompatibleRow": true,
								"logStorageSettings": {
									"linkedServiceName": {
										"referenceName": "AzureBlobStorage1",
										"type": "LinkedServiceReference"
									},
									"path": "data-factory-logs/LastMontStocksPipe"
								},
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "SymbolC",
												"type": "String"
											},
											"sink": {
												"name": "Symbol",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "timestamp",
												"type": "DateTime",
												"physicalType": "String"
											},
											"sink": {
												"name": "Date",
												"type": "DateTime",
												"physicalType": "datetime"
											}
										},
										{
											"source": {
												"name": "IntervalC",
												"type": "String"
											},
											"sink": {
												"name": "Interval_minutes",
												"type": "Int16",
												"physicalType": "smallint"
											}
										},
										{
											"source": {
												"name": "open",
												"type": "Single",
												"physicalType": "String"
											},
											"sink": {
												"name": "Open_price",
												"type": "Single",
												"physicalType": "real"
											}
										},
										{
											"source": {
												"name": "high",
												"type": "Single",
												"physicalType": "String"
											},
											"sink": {
												"name": "High_price",
												"type": "Single",
												"physicalType": "real"
											}
										},
										{
											"source": {
												"name": "low",
												"type": "Single",
												"physicalType": "String"
											},
											"sink": {
												"name": "Low_price",
												"type": "Single",
												"physicalType": "real"
											}
										},
										{
											"source": {
												"name": "close",
												"type": "Single",
												"physicalType": "String"
											},
											"sink": {
												"name": "Close_price",
												"type": "Single",
												"physicalType": "real"
											}
										},
										{
											"source": {
												"name": "volume",
												"type": "Single",
												"physicalType": "String"
											},
											"sink": {
												"name": "Volume",
												"type": "Single",
												"physicalType": "real"
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "CSVlastMonthIntraday",
									"type": "DatasetReference",
									"parameters": {
										"RelativeURL": {
											"value": "@concat('query?function=TIME_SERIES_INTRADAY&symbol=', item().Symbol, '&interval=', variables('IntervalV'), 'min&apikey=ok&datatype=csv')",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "StocksTable",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"variables": {
			"IntervalV": {
				"type": "String",
				"defaultValue": "60"
			}
		},
		"annotations": []
	}
}