data_factory_src/pipeline/MonthLoopPipeline.json
{
	"name": "MonthLoopPipeline",
	"properties": {
		"activities": [
			{
				"name": "MonthIteration",
				"type": "Until",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(int(variables('MonthV')), 12)",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "CopyDataToSQL",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"additionalColumns": [
										{
											"name": "SymbolC",
											"value": {
												"value": "@variables('SymbolV')",
												"type": "Expression"
											}
										},
										{
											"name": "IntervalC",
											"value": {
												"value": "@variables('IntervalV')",
												"type": "Expression"
											}
										}
									],
									"storeSettings": {
										"type": "HttpReadSettings",
										"requestMethod": "GET"
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink"
								},
								"enableStaging": false,
								"enableSkipIncompatibleRow": true,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "SymbolC",
												"type": "String"
											},
											"sink": {
												"name": "Symbol",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "time",
												"type": "DateTime"
											},
											"sink": {
												"name": "Date",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"name": "IntervalC",
												"type": "String"
											},
											"sink": {
												"name": "Interval_minutes",
												"type": "Int16"
											}
										},
										{
											"source": {
												"name": "open",
												"type": "Double"
											},
											"sink": {
												"name": "Open_price",
												"type": "Single"
											}
										},
										{
											"source": {
												"name": "high",
												"type": "Double"
											},
											"sink": {
												"name": "High_price",
												"type": "Single"
											}
										},
										{
											"source": {
												"name": "low",
												"type": "Double"
											},
											"sink": {
												"name": "Low_price",
												"type": "Single"
											}
										},
										{
											"source": {
												"name": "close",
												"type": "Double"
											},
											"sink": {
												"name": "Close_price",
												"type": "Single"
											}
										},
										{
											"source": {
												"name": "volume",
												"type": "Double"
											},
											"sink": {
												"name": "Volume",
												"type": "Single"
											}
										}
									]
								}
							},
							"inputs": [
								{
									"referenceName": "CSVextendedIntraday",
									"type": "DatasetReference",
									"parameters": {
										"RelativeURL": {
											"value": "@concat('query?function=TIME_SERIES_INTRADAY_EXTENDED&symbol=', variables('SymbolV'), '&interval=', variables('IntervalV'), 'min&slice=year', pipeline().parameters.YearP, 'month', variables('MonthV'), '&apikey=ok')",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "StocksTable",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "IncrementMonthIndex",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "CopyDataToSQL",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "IndexMonth",
								"value": {
									"value": "@string(add(int(variables('MonthV')),1))",
									"type": "Expression"
								}
							}
						},
						{
							"name": "SetMonth",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "IncrementMonthIndex",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "MonthV",
								"value": {
									"value": "@variables('IndexMonth')",
									"type": "Expression"
								}
							}
						}
					],
					"timeout": "0.01:00:00"
				}
			}
		],
		"parameters": {
			"YearP": {
				"type": "string",
				"defaultValue": "1"
			}
		},
		"variables": {
			"SymbolV": {
				"type": "String",
				"defaultValue": "MSFT"
			},
			"IntervalV": {
				"type": "String",
				"defaultValue": "60"
			},
			"MonthV": {
				"type": "String",
				"defaultValue": "1"
			},
			"IndexMonth": {
				"type": "String",
				"defaultValue": "1"
			}
		},
		"annotations": []
	}
}