data_factory_src/pipeline/YearLoopPipeline.json
{
	"name": "YearLoopPipeline",
	"properties": {
		"activities": [
			{
				"name": "Until1",
				"type": "Until",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(int(variables('YearV')), 2)",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "ExecuteMonthLoop",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "MonthLoopPipeline",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"YearP": {
										"value": "@variables('YearV')",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "IncrementYearIndex",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "ExecuteMonthLoop",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "YearIndex",
								"value": {
									"value": "@string(add(int(variables('YearV')), 1))",
									"type": "Expression"
								}
							}
						},
						{
							"name": "SetYear",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "IncrementYearIndex",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "YearV",
								"value": {
									"value": "@variables('YearIndex')",
									"type": "Expression"
								}
							}
						}
					],
					"timeout": "0.01:00:00"
				}
			}
		],
		"variables": {
			"YearV": {
				"type": "String",
				"defaultValue": "1"
			},
			"YearIndex": {
				"type": "String",
				"defaultValue": "1"
			}
		},
		"annotations": []
	}
}